.header {
  display: flex;
  justify-content: space-between;
  margin: 10px;
  border: 1px solid black;
}
.nav-items > ul {
  list-style-type: none;
  display: flex;
}

.nav-items > ul > li {
  padding: 10px;
}
.logo {
  width: 100px;
  height: 100px;
}

.card {
  width: 240px;
  border: 1px solid black;
  padding: 10px;
  margin: 10px;
  /* overflow-wrap: break-word; */
  container-type: inline-size;
  aspect-ratio: 1/1;
}

.card > h3 {
  font-size: 19cqi; /* container-query-inline */
}

.card > img {
  width: 100%;
}

.restaurant-list {
  display: flex;
  flex-wrap: wrap;
}
